<?php declare(strict_types=1);

namespace {{ namespace }}\Document;

{% block use_statements %}
use Doctrine\ODM\MongoDB\Mapping\Annotations as ODM;
use JMS\Serializer\Annotation as JMS;
{% if usesArrayCollection == true %}
use Doctrine\Common\Collections\ArrayCollection;
{% endif %}
{% for association in associations %}
use {{ association }};
{% endfor %}
{% endblock use_statements %}

{% block class_definition %}
/**
{% if isEmbedded is same as(true)  %}
 * @ODM\EmbeddedDocument
{% else %}
 * @ODM\Document(repositoryClass="{{ namespace }}\Repository\{{ document }}Repository")
 * @ODM\HasLifecycleCallbacks
 * @ODM\ChangeTrackingPolicy("DEFERRED_EXPLICIT")
{% endif %}
{% if indexes is not empty %}
 * @ODM\Indexes({
{% for index in indexes %}
 *   @ODM\Index(keys={"{{ index.name }}"="{{ index.order }}"})
{% endfor %}
 * })
{% endif %}
 * @JMS\ExclusionPolicy("all")
 */
class {{ document }}
{% endblock class_definition %}
{
{% block const_definition %}
{% for field in fields %}
{% set fieldName = field['fieldName'] %}
{% set isString = field['type'] == 'string' %}
{% set isNull = field['type'] == 'null' %}
{% set defaultValue = field['defaultValue'] %}
{% if (defaultValue is not null) %}
{% if isNull %}
    const {{ fieldName | camel2snake | upper }}_DEFAULT_VALUE = null;
{% elseif isString %}
    const {{ fieldName | camel2snake | upper }}_DEFAULT_VALUE = "{{ defaultValue }}";
{% else %}
    const {{ fieldName | camel2snake | upper }}_DEFAULT_VALUE = {{ defaultValue | raw }};
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}
{% block class_body %}
    /**
     * @var string
     *
     * @ODM\Id("strategy=auto")
     * @JMS\Type("string")
     * @JMS\Expose
     */
    private $id;

{% for field in fields %}
{% set fieldName = field['fieldName'] %}
{% set isAssociationMany = field['associationMany'] == true %}
{% set isBasicType = field['basicType'] == true %}
{% set jmsType = field['jmsType'] %}
{% set mongoType = field['mongoType'] %}
    /**
{% if isBasicType %}
     * @var {{ field['type'] }}
     *
     * @ODM\Field(type="{{ mongoType }}", name="{{ fieldName }}")
     * @JMS\Type("{{ jmsType }}")
{% else %}
{% set fieldClass = field['type'] | split('\\') | last %}
{% if isAssociationMany %}
     * @var Collection<{{ fieldClass }}>
{% else %}
     * @var {{ fieldClass }}
{% endif %}
     *
     * @ODM\{{ field['associationType'] }}(targetDocument="{{ mongoType }}", name="{{ fieldName }}")
{% if isAssociationMany %}
     * @JMS\Type("array<{{ jmsType }}>")
{% else %}
     * @JMS\Type("{{ jmsType }}")
{% endif %}
{% endif %}
     * @JMS\Expose
     * @JMS\Groups({})
     */
    private ${{ fieldName }};

{% endfor %}

    /**
     * Constructor
     */
    public function __construct()
    {
        // auto-generated stub
{% for field in fields %}
{% set isAssociationMany = field['associationMany'] == true %}
{% set defaultValue = field['defaultValue'] %}
{% set fieldName = field['fieldName'] %}
{% set isBasicType = field['basicType'] == true %}
{% if (isBasicType and defaultValue is not null) %}
        $this->{{ fieldName }} = self::{{ fieldName | camel2snake | upper }}_DEFAULT_VALUE;
{% endif %}
{% if isAssociationMany %}
        $this->{{ fieldName }} = new ArrayCollection();
{% endif %}
{% endfor %}
    }

    /**
     * Get id
     *
     * @return string
     */
    public function getId() : string
    {
        return $this->id;
    }

{% for field in fields %}
{% set fieldName = field['fieldName'] %}
{% set getterPrefix = field['type'] == 'bool' ? 'is' : 'get' %}
{% set isAssociationMany = field['associationMany'] == true %}
{% set isBasicType = field['basicType'] == true %}
{% set isNullable = field['isNullable'] == true %}
{% set returnType = isBasicType ? field['type'] : (isAssociationMany ? 'array' : field['type'] | split('\\') | last) %}
{% set paramType = isAssociationMany ? 'array' : returnType %}
{% set returnTypePrefix = isNullable ? '?' : '' %}
{% set paramTypePrefix = returnTypePrefix %}
    /**
     * Get {{ fieldName }}
     *
     * @return {{ returnType }}{{ isNullable ? '|null' : '' }}
     */
    public function {{ getterPrefix }}{{ fieldName | ucfirst }}() : {{ returnTypePrefix }}{{ returnType }}
    {
        return $this->{{ fieldName }};
    }

    /**
     * Set {{ fieldName }}
     *
     * @param {{ paramType }} ${{ fieldName }}
     *
     * @return self
     */
    public function set{{ fieldName | ucfirst }}({{ paramTypePrefix }}{{ paramType }} ${{ fieldName }}) : self
    {
        $this->{{ fieldName }} = {{ isAssociationMany ? 'new ArrayCollection($' ~ fieldName ~ ')' : '$' ~ fieldName }};

        return $this;
    }

{% if isAssociationMany %}
{% set singularFieldName = fieldName | singularize | ucfirst %}
{% set param = fieldName[:fieldName | length - 1] %}
{% set paramType = field['type'] | split('\\') | last %}
    /**
     * Add {{ singularFieldName  }}
     *
     * @param {{ paramType }} ${{ param }}
     *
     * @return self
     */
    public function add{{ singularFieldName  }}({{ paramType }} ${{ param }}) : self
    {
        if (false === $this->{{ fieldName }}->contains(${{ param }})) {
            $this->{{ fieldName }}[] = ${{ param }};
        }

        return $this;
    }

    /**
     * Remove {{ singularFieldName  }}
     *
     * @param {{ paramType }} ${{ param }}
     *
     * @return self
     */
    public function remove{{ singularFieldName }}({{ paramType }} ${{ param }}) : self
    {
        $this->{{ fieldName }}->removeElement(${{ param }});

        return $this;
    }
{% endif %}
{% endfor %}
    /**
     * Returns string representation of the object
     *
     * @return string
     */
    public function __toString()
    {
        return $this->id;
    }
{% endblock class_body %}
}
