<?php declare(strict_types=1);

namespace {{ namespace }}\Repository;

{% block use_statements %}
use ATS\CoreBundle\Repository\BaseDocumentRepository;
{% endblock use_statements %}

/**
 * Repository class for {{ document }} entities
 *
 * @see \ATS\CoreBundle\Repository\BaseDocumentRepository
 */
{% block class_definition %}
class {{ document }}Repository extends BaseDocumentRepository
{% endblock class_definition %}
{
{% block class_body %}
{% endblock class_body %}
}
