<?php declare(strict_types=1);

namespace {{ namespace }}\Controller\Rest;

{% block use_statements %}
use ATS\CoreBundle\Controller\Rest\RestControllerTrait;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;
use Symfony\Component\Routing\Annotation\Route;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpFoundation\Response;
use Symfony\Component\HttpKernel\Exception\BadRequestHttpException;
use {{ namespace }}\Document\{{ entity | ucfirst }};
use {{ namespace }}\Service\{{ entity }}Service;
{% endblock use_statements %}

{% block class_definition %}
class {{ entity }}Controller extends Controller
{% endblock class_definition %}
{
{% block class_body %}

    use RestControllerTrait;

    /**
     * @Route("/{id}/get", methods="GET")
     *
     * @param Request $request
     * @param {{ entity }}Service ${{ entity | lower }}Service
     * @param string  $id
     *
     * @return Response
     */
    public function get{{ entity }}Action(Request $request, {{ entity }}Service ${{ entity | lower }}Service, $id)
    {
        $data = ${{ entity | lower }}Service->get{{ entity }}($id);

        return $this->renderResponse($data);
    }

    /**
     * @Route("/list", methods="GET")
     *
     * @param Request $request
     * @param {{ entity }}Service ${{ entity | lower }}Service
     *
     * @return Response
     */
    public function list{{ entity }}sAction(Request $request, {{ entity }}Service ${{ entity | lower }}Service)
    {
        $data = ${{ entity | lower }}Service->list{{ entity }}s();

        return $this->renderResponse($data);
    }

    /**
     * @Route(
     *    "/paginate/{pageNumber}/{itemsPerPage}",
     *    methods="GET",
     *    defaults={"pageNumber" = 1, "itemsPerPage" = 20}
     * )
     *
     * @param Request $request
     * @param {{ entity }}Service ${{ entity | lower }}Service
     * @param int $pageNumber
     * @param int $itemsPerPage
     *
     * @return Response
     */
    public function paginate{{ entity }}sAction(
        Request $request,
        {{ entity }}Service ${{ entity | lower }}Service,
        $pageNumber,
        $itemsPerPage
    ) {
        $pageResult = ${{ entity | lower }}Service->paginate($pageNumber, $itemsPerPage);

        return $this->renderResponse($pageResult);
    }

    /**
     * @Route("/new", methods="POST")
     *
     * @param Request $request
     * @param {{ entity }}Service ${{ entity | lower }}Service
     *
     * @return Response
     */
    public function new{{ entity }}Action(Request $request, {{ entity }}Service ${{ entity | lower }}Service)
    {
        $data = $request->getContent();
        $successful = ${{ entity | lower }}Service->new{{ entity }}($data);

        return $this->renderResponse($successful, Response::HTTP_CREATED);
    }

    /**
    * @Route("/{id}/update", methods="PUT")
    *
    * @param Request $request
    * @param {{ entity }}Service ${{ entity | lower }}Service
    *
    * @return Response
    */
    public function update{{ entity }}Action(Request $request, {{ entity }}Service ${{ entity | lower }}Service)
    {
        $data = $request->getContent();
        $successful = ${{ entity | lower }}Service->update{{ entity }}($data);

        return $this->renderResponse($successful, Response::HTTP_ACCEPTED);
    }

    /**
     * @Route("/{id}/delete", methods="DELETE")
     *
     * @param Request $request
     * @param {{ entity }}Service ${{ entity | lower }}Service
     * @param string $id
     *
     * @return Response
     */
    public function delete{{ entity }}Action(Request $request, {{ entity }}Service ${{ entity | lower }}Service, $id)
    {
        ${{ entity | lower }}Service->delete{{ entity }}($id);

        return $this->renderResponse([], Response::HTTP_ACCEPTED);
    }

    /**
     * @Route("/{lang}/{term}/search", methods="GET", defaults={"lang" = "en"})
     *
     * @param Request $request
     * @param {{ entity }}Service ${{ entity | lower }}Service
     * @param string $term
     * @param string $lang
     *
     * @return Response
     */
    public function search{{ entity }}Action(Request $request, {{ entity }}Service ${{ entity | lower }}Service, $term, $lang)
    {

        try {
            $result = ${{ entity | lower }}Service->textSearch($term, $lang);
        } catch (\MongoException $e) {
            throw new BadRequestHttpException("Entity " . {{ entity }}::class . " is not searchable. ");
        }

        return $this->renderResponse($result);
    }
{% endblock class_body %}
}
